table.helpT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #ff0;
width: 500px;
background-color: #fff;
border: 1px #000 solid;
border-collapse: collapse;
border-spacing: 0px; }

td.kop
{ border-bottom: 2px solid #fff;
border-left: 1px solid #fff;
background-color: #000;
text-align: left;
line-height: 20px;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #fff; }

td.kop2
{ border-bottom: 1px solid #fff;
border-left: 1px solid #fff;
background-color: #000;
text-align: left;
text-indent: 0px;
font-family: Verdana;
line-height: 20px;
font-weight: bold;
font-size: 11px;
color: #fff; 
border-top: 0px;
border-right: 0px;
}

td.kop3
{ border-bottom: 0px solid #000;
border-left: 1px solid #000;
background-color: #000;
text-align: right;
text-indent: 5px;
line-height: 20px;
font-family: Verdana;
font-weight: bold;
font-size: 12px;
color: #fff; }


td.unread
{ border-bottom: 1px solid #fff;
border-top: 0px;
border-left: 1px solid #fff;
border-right: 0px;
text-align: left;
line-height: 20px;
text-indent: 0px;
font-family: Verdana, sans-serif, Arial;
font-weight: bold;
font-size: 11px;
color: #fff;
background-color: #000; }

table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
line-height: 20px;
font-size: 12px;
color: #fff;
width: 520px;
background-color: #000;
border-collapse: collapse;
border-spacing: 0px; } 