	html {
		overflow: hidden;
	}
	body {
		margin: 0px;
		padding: 0px;
		background: #000;
		background-image: url("../img/tree.png");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-attachment: fixed;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	#screen {
		position: absolute;
		left: 22%;
		top: 10%;
		width: 60%;
		height: 50%;
		background: #000;
		overflow: hidden;
	}
	.panel {
		position: relative;
		float: left;
		width: 40%;
		height: 30%;
		margin: 1%;
		overflow: hidden;
	}
	.imgPanel {
		position: absolute;
		border: none;
		text-decoration: none;
	}
